<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>CGVBackend</display-name>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login/login.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterMovie</servlet-name>
    <servlet-class>controller.movies.RegisterMovieController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterMovie</servlet-name>
    <url-pattern>/movies/registerMovie.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditMovie</servlet-name>
    <servlet-class>controller.movies.EditMovieController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditMovie</servlet-name>
    <url-pattern>/movies/editMovie.cgv</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RegisterStill</servlet-name>
    <servlet-class>controller.movies.RegisterStillController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterStill</servlet-name>
    <url-pattern>/movies/registerStill.cgv</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RegisterTheater</servlet-name>
    <servlet-class>controller.theaters.RegisterTheaterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterTheater</servlet-name>
    <url-pattern>/theaters/registerTheater.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditTheater</servlet-name>
    <servlet-class>controller.theaters.EditTheaterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditTheater</servlet-name>
    <url-pattern>/theaters/editTheater.cgv</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>FaqList</servlet-name>
    <servlet-class>controller.faq.FaqController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FaqList</servlet-name>
    <url-pattern>/faq/Faq.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FaqView</servlet-name>
    <servlet-class>controller.faq.FaqViewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FaqView</servlet-name>
    <url-pattern>/faq/FaqView.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FaqWrite</servlet-name>
    <servlet-class>controller.faq.FaqWriteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FaqWrite</servlet-name>
    <url-pattern>/faq/FaqWrite.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FaqEdit</servlet-name>
    <servlet-class>controller.faq.FaqEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FaqEdit</servlet-name>
    <url-pattern>/faq/FaqEdit.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FaqDelete</servlet-name>
    <servlet-class>controller.faq.FaqDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FaqDelete</servlet-name>
    <url-pattern>/faq/FaqDelete.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReviewList</servlet-name>
    <servlet-class>controller.review.ReviewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewList</servlet-name>
    <url-pattern>/review/Review.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReviewEdit</servlet-name>
    <servlet-class>controller.review.ReviewEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewEdit</servlet-name>
    <url-pattern>/review/ReviewEdit.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReviewDelete</servlet-name>
    <servlet-class>controller.review.ReviewDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewDelete</servlet-name>
    <url-pattern>/review/ReviewDelete.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewsListController</servlet-name>
    <servlet-class>controller.news.NewsListController</servlet-class>
    <init-param>
      <param-name>PAGE_SIZE</param-name>
      <param-value>5</param-value>
    </init-param>
    <init-param>
      <param-name>BLOCK_PAGE</param-name>
      <param-value>3</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsListController</servlet-name>
    <url-pattern>/News/newslist.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WriteNewsController</servlet-name>
    <servlet-class>controller.news.WriteNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteNewsController</servlet-name>
    <url-pattern>/Write.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewsViewController</servlet-name>
    <servlet-class>controller.news.NewsViewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsViewController</servlet-name>
    <url-pattern>/Contentview.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditNewsController</servlet-name>
    <servlet-class>controller.news.EditNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditNewsController</servlet-name>
    <url-pattern>/Edit.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteNewsController</servlet-name>
    <servlet-class>controller.news.DeleteNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteNewsController</servlet-name>
    <url-pattern>/Delete.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RentalListController</servlet-name>
    <servlet-class>controller.rental.RantalListController</servlet-class>
    <init-param>
      <param-name>PAGE_SIZE</param-name>
      <param-value>5</param-value>
    </init-param>
    <init-param>
      <param-name>BLOCK_PAGE</param-name>
      <param-value>3</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>RentalListController</servlet-name>
    <url-pattern>/Rental/rentallist.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RentalViewController</servlet-name>
    <servlet-class>controller.rental.RantalViewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RentalViewController</servlet-name>
    <url-pattern>/rental.view.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WriteRantalController</servlet-name>
    <servlet-class>controller.rental.WriteRantalController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteRantalController</servlet-name>
    <url-pattern>/rental.Write.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteRantalController</servlet-name>
    <servlet-class>controller.rental.DeleteRantalController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRantalController</servlet-name>
    <url-pattern>/rental.delete.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmailListController</servlet-name>
    <servlet-class>controller.email.EmailListController</servlet-class>
    <init-param>
      <param-name>PAGE_SIZE</param-name>
      <param-value>5</param-value>
    </init-param>
    <init-param>
      <param-name>BLOCK_PAGE</param-name>
      <param-value>3</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailListController</servlet-name>
    <url-pattern>/Email/emaillist.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmailViewController</servlet-name>
    <servlet-class>controller.email.EmailViewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailViewController</servlet-name>
    <url-pattern>/email.view.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WriteEmailController</servlet-name>
    <servlet-class>controller.email.WriteEmailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteEmailController</servlet-name>
    <url-pattern>/email.write.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteEmailController</servlet-name>
    <servlet-class>controller.email.DeleteEmailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEmailController</servlet-name>
    <url-pattern>/email.delete.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LostListController</servlet-name>
    <servlet-class>controller.lost.LostListController</servlet-class>
    <init-param>
      <param-name>PAGE_SIZE</param-name>
      <param-value>5</param-value>
    </init-param>
    <init-param>
      <param-name>BLOCK_PAGE</param-name>
      <param-value>3</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>LostListController</servlet-name>
    <url-pattern>/lost/lost.list.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LostViewController</servlet-name>
    <servlet-class>controller.lost.LostViewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LostViewController</servlet-name>
    <url-pattern>/lost.view.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WriteLostController</servlet-name>
    <servlet-class>controller.lost.WriteLostController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteLostController</servlet-name>
    <url-pattern>/lost.Write.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteLostController</servlet-name>
    <servlet-class>controller.lost.DeleteLostController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteLostController</servlet-name>
    <url-pattern>/lost_delete.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReserveList</servlet-name>
    <servlet-class>controller.reserve.ReserveController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReserveList</servlet-name>
    <url-pattern>/reserve/Reserve.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReserveDelete</servlet-name>
    <servlet-class>controller.reserve.ReserveDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReserveDelete</servlet-name>
    <url-pattern>/reserve/ReserveDelete.cgv</url-pattern>
  </servlet-mapping>
  
  
  <!-- 회원관리 -->
  <servlet>
    <servlet-name>MembersList</servlet-name>
    <servlet-class>controller.user.MembersListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MembersList</servlet-name>
    <url-pattern>/user/members.List.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MembersView</servlet-name>
    <servlet-class>controller.user.MembersViewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MembersView</servlet-name>
    <url-pattern>/user/members.View.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MembersEdit</servlet-name>
    <servlet-class>controller.user.MembersEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MembersEdit</servlet-name>
    <url-pattern>/user/members.Edit.cgv</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>MembersDelete</servlet-name>
    <servlet-class>controller.user.MembersDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MembersDelete</servlet-name>
    <url-pattern>/user/members.Delete.cgv</url-pattern>
  </servlet-mapping>
  
  <!-- 페이징용 컨텍스트 초기화 파라미터 -->
  <context-param>
  	<param-name>PAGE_SIZE</param-name>
  	<param-value>3</param-value>
  </context-param>
  <context-param>
  	<param-name>BLOCK_PAGE</param-name>
  	<param-value>3</param-value>
  </context-param>
  
  
  <servlet>
    <servlet-name>ShowTimesList</servlet-name>
    <servlet-class>controller.show_times.ShowtimeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowTimesList</servlet-name>
    <url-pattern>/CGV/ShowTimes.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowTimesView</servlet-name>
    <servlet-class>controller.show_times.ShowtimeViewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowTimesView</servlet-name>
    <url-pattern>/CGV/ShowTimesView.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowTimesEdit</servlet-name>
    <servlet-class>controller.show_times.ShowtimeEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowTimesEdit</servlet-name>
    <url-pattern>/CGV/ShowTimesEdit.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowTimesWrite</servlet-name>
    <servlet-class>controller.show_times.ShowtimeWriteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowTimesWrite</servlet-name>
    <url-pattern>/CGV/ShowTimesWrite.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowTimesDelete</servlet-name>
    <servlet-class>controller.show_times.ShowtimeDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowTimesDelete</servlet-name>
    <url-pattern>/CGV/ShowTimesDelete.cgv</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>PAGE_SIZE</param-name>
    <param-value>3</param-value>
  </context-param>
  <context-param>
    <param-name>BLOCK_PAGE</param-name>
    <param-value>3</param-value>
  </context-param>
  <context-param>
    <param-name>TOMCAT_JNDI_ROOT</param-name>
    <param-value>java:comp/env</param-value>
  </context-param>
  <context-param>
    <param-name>POSTER_DIRECTORY</param-name>
    <param-value>E:\BEM\JAVA\Workspace\CGVBackend_git\CGVBackend\WebContent\images\posters</param-value>
  </context-param>
  <context-param>
    <param-name>STILLS_DIRECTORY</param-name>
    <param-value>E:\BEM\JAVA\Workspace\CGVBackend_git\CGVBackend\WebContent\images\stills</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>Index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>