<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>CGVBackend</display-name>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login/login.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterMovie</servlet-name>
    <servlet-class>controller.RegisterMovieController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterMovie</servlet-name>
    <url-pattern>/movies/registerMovie.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditMovie</servlet-name>
    <servlet-class>controller.EditMovieController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditMovie</servlet-name>
    <url-pattern>/movies/editMovie.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterTheater</servlet-name>
    <servlet-class>controller.RegisterTheaterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterTheater</servlet-name>
    <url-pattern>/theaters/registerTheater.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditTeater</servlet-name>
    <servlet-class>controller.EditTheaterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditTeater</servlet-name>
    <url-pattern>/theaters/editTheater.cgv</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>FaqList</servlet-name>
    <servlet-class>controller.FaqController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FaqList</servlet-name>
    <url-pattern>/faq/Faq.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FaqView</servlet-name>
    <servlet-class>controller.FaqViewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FaqView</servlet-name>
    <url-pattern>/faq/FaqView.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FaqWrite</servlet-name>
    <servlet-class>controller.FaqWriteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FaqWrite</servlet-name>
    <url-pattern>/faq/FaqWrite.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FaqEdit</servlet-name>
    <servlet-class>controller.FaqEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FaqEdit</servlet-name>
    <url-pattern>/faq/FaqEdit.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FaqDelete</servlet-name>
    <servlet-class>controller.FaqDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FaqDelete</servlet-name>
    <url-pattern>/faq/FaqDelete.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReviewList</servlet-name>
    <servlet-class>controller.ReviewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewList</servlet-name>
    <url-pattern>/review/Review.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReviewEdit</servlet-name>
    <servlet-class>controller.ReviewEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewEdit</servlet-name>
    <url-pattern>/review/ReviewEdit.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReviewDelete</servlet-name>
    <servlet-class>controller.ReviewDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewDelete</servlet-name>
    <url-pattern>/review/ReviewDelete.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewsListController</servlet-name>
    <servlet-class>controller.NewsListController</servlet-class>
    <init-param>
      <param-name>PAGE_SIZE</param-name>
      <param-value>5</param-value>
    </init-param>
    <init-param>
      <param-name>BLOCK_PAGE</param-name>
      <param-value>3</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsListController</servlet-name>
    <url-pattern>/news/news.list.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WriteNewsController</servlet-name>
    <servlet-class>controller.WriteNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteNewsController</servlet-name>
    <url-pattern>/Write.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewsViewController</servlet-name>
    <servlet-class>controller.NewsViewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsViewController</servlet-name>
    <url-pattern>/Contentview.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditNewsController</servlet-name>
    <servlet-class>controller.EditNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditNewsController</servlet-name>
    <url-pattern>/Edit.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteNewsController</servlet-name>
    <servlet-class>controller.DeleteNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteNewsController</servlet-name>
    <url-pattern>/Delete.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RentalListController</servlet-name>
    <servlet-class>controller.RantalListController</servlet-class>
    <init-param>
      <param-name>PAGE_SIZE</param-name>
      <param-value>5</param-value>
    </init-param>
    <init-param>
      <param-name>BLOCK_PAGE</param-name>
      <param-value>3</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>RentalListController</servlet-name>
    <url-pattern>/rental/rental.list.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RentalViewController</servlet-name>
    <servlet-class>controller.RantalViewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RentalViewController</servlet-name>
    <url-pattern>/rental.view.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WriteRantalController</servlet-name>
    <servlet-class>controller.WriteRantalController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteRantalController</servlet-name>
    <url-pattern>/rental.Write.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteRantalController</servlet-name>
    <servlet-class>controller.DeleteRantalController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRantalController</servlet-name>
    <url-pattern>/rental.delete.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmailListController</servlet-name>
    <servlet-class>controller.EmailListController</servlet-class>
    <init-param>
      <param-name>PAGE_SIZE</param-name>
      <param-value>5</param-value>
    </init-param>
    <init-param>
      <param-name>BLOCK_PAGE</param-name>
      <param-value>3</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailListController</servlet-name>
    <url-pattern>/email/email.list.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmailViewController</servlet-name>
    <servlet-class>controller.EmailViewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailViewController</servlet-name>
    <url-pattern>/email.view.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WriteEmailController</servlet-name>
    <servlet-class>controller.WriteEmailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteEmailController</servlet-name>
    <url-pattern>/email.write.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteEmailController</servlet-name>
    <servlet-class>controller.DeleteEmailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEmailController</servlet-name>
    <url-pattern>/email.delete.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LostListController</servlet-name>
    <servlet-class>controller.LostListController</servlet-class>
    <init-param>
      <param-name>PAGE_SIZE</param-name>
      <param-value>5</param-value>
    </init-param>
    <init-param>
      <param-name>BLOCK_PAGE</param-name>
      <param-value>3</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>LostListController</servlet-name>
    <url-pattern>/lost/lost.list.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LostViewController</servlet-name>
    <servlet-class>controller.LostViewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LostViewController</servlet-name>
    <url-pattern>/lost.view.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WriteLostController</servlet-name>
    <servlet-class>controller.WriteLostController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteLostController</servlet-name>
    <url-pattern>/lost.Write.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteLostController</servlet-name>
    <servlet-class>controller.DeleteLostController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteLostController</servlet-name>
    <url-pattern>/lost_delete.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReserveList</servlet-name>
    <servlet-class>controller.ReserveController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReserveList</servlet-name>
    <url-pattern>/reserve/Reserve.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReserveDelete</servlet-name>
    <servlet-class>controller.ReserveDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReserveDelete</servlet-name>
    <url-pattern>/reserve/ReserveDelete.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MembersList</servlet-name>
    <servlet-class>controller.MemberListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MembersList</servlet-name>
    <url-pattern>/MEMBERS/List.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MembersView</servlet-name>
    <servlet-class>controller.MemberViewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MembersView</servlet-name>
    <url-pattern>/MEMBERS/View.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MembersEdit</servlet-name>
    <servlet-class>controller.MemberEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MembersEdit</servlet-name>
    <url-pattern>/MEMBERS/Edit.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowTimesList</servlet-name>
    <servlet-class>controller.ShowtimeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowTimesList</servlet-name>
    <url-pattern>/CGV/ShowTimes.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowTimesView</servlet-name>
    <servlet-class>controller.ShowtimeViewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowTimesView</servlet-name>
    <url-pattern>/CGV/ShowTimesView.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowTimesEdit</servlet-name>
    <servlet-class>controller.ShowtimeEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowTimesEdit</servlet-name>
    <url-pattern>/CGV/ShowTimesEdit.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowTimesWrite</servlet-name>
    <servlet-class>controller.ShowtimeWriteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowTimesWrite</servlet-name>
    <url-pattern>/CGV/ShowTimesWrite.cgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowTimesDelete</servlet-name>
    <servlet-class>controller.ShowtimeDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowTimesDelete</servlet-name>
    <url-pattern>/CGV/ShowTimesDelete.cgv</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>PAGE_SIZE</param-name>
    <param-value>3</param-value>
  </context-param>
  <context-param>
    <param-name>BLOCK_PAGE</param-name>
    <param-value>3</param-value>
  </context-param>
  <context-param>
    <param-name>TOMCAT_JNDI_ROOT</param-name>
    <param-value>java:comp/env</param-value>
  </context-param>
  <context-param>
    <param-name>POSTER_DIRECTORY</param-name>
    <param-value>E:\BEM\JAVA\Workspace\CGVBackend_git\CGVBackend\WebContent\images\posters</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>Index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>